$fadein: 3s;
$fadeout: 3s;

.secrets {
    padding: 0 100px;
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: fadein $fadein forwards;
    -moz-animation: fadein $fadein forwards; /* Firefox */
    -webkit-animation: fadein $fadein forwards; /* Safari and Chrome */
    
    .congrats {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &.hide {
        animation: fadeout $fadeout forwards;
        -moz-animation: fadeout $fadeout forwards; /* Firefox */
        -webkit-animation: fadeout $fadeout forwards; /* Safari and Chrome */        
    }

    @keyframes fadein {
        from {
            height: 0;
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            height: 0;
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            height: 0;
            opacity:0;
        }
        to {
            opacity:1;
        }
    }

    @keyframes fadeout {
        from {
            opacity:1;
        }
        to {
            opacity:0;
            height: 0;
        }
    }
    @-moz-keyframes fadeout { /* Firefox */
        from {
            opacity:1;
        }
        to {
            opacity:0;
            height: 0;
        }
    }
    @-webkit-keyframes fadeout { /* Safari and Chrome */
        from {
            opacity:1;
        }
        to {
            opacity:0;
            height: 0;
        }
    }
}
