@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.secret {
    border: 1px solid rgb(228, 57, 57);
    background-color: rgb(228, 57, 57);
    padding: 30px;
    flex: 1;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    box-shadow: -3px 2px 15px -4px rgb(37, 36, 36);
    // opacity: .95;

    &.correct {
        background-color: rgb(93, 180, 93);
        border: 1px solid rgb(93, 180, 93);

        label {
            background-color: rgb(93, 180, 93);
            border: 1px solid rgb(93, 180, 93);
        }
    }

    .nissehue {
        position: absolute;
        right: -14px;
        top: -13px;
        z-index: 10;
    }

    input {
        border: none;
        outline: none;
        text-indent: 20px;
        height: 40px;
        width: 100%;
    }

    label {
        @include transition(top .3s ease);

        position: absolute;
        top: 0;
        width: 50%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 30px;
        font-family: verdana;
        font-size: 12px;
        color: #fff;
        background-color: rgb(228, 57, 57);
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;

        &.active {
            @include transition(top .3s ease);
            top: -20px;
        }
    }
}